[Unit]
Description=Hashicorp Vault
Documentation=https://github.com/hashicorp/vault

[Service]
Type=forking
PIDFile=/var/tmp/vault.pid
User=vault
ExecStart=/usr/bin/vault_server
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
